<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
	<connectionStrings>
        <add name="SQLiteConnection" connectionString="Data Source=C:\\Users\\Leo\\source\\repos\\GestorTaller\\GestorTaller\\Taller.db"/>
    </connectionStrings>
  <Profiles>
    <Profile Name="(Default)" />
  </Profiles>
</SettingsFile>
